<form action="/new" method="post">
  <input type="text" name="player1[name]" required placeholder="Player 1 Initials">
  <input type="text" name="player2[name]" required placeholder="Player 2 Initials">
  <input type="submit" value="Play!">
</form>